/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.container {
	width: auto;
	max-width: 680px;
	padding: 0.5em 5px;
	text-align: center;
	margin: 2em auto;
}

.loginForm {
	text-align: center;
	width: 80%;
	margin: 2em auto;
	border-radius: 10px;
	padding: 1px 50px
}

.loginForm input {
	margin: 0.5em;
}

.createForm {
	text-align: center;
	width: 100%;
	margin: 0.1em auto;
	border-radius: 10px;
	padding: 1px 0px 1px 0px;
}

.createForm input {
	margin: 0.5em 0;
}

#activo {
	margin: 0 auto 1em auto;
}
