{% extends 'sg_sst_app/base.html' %} {% load static %} {% block content %}

<div class="container ">
	<h1 class="mt-5"> Sistema de Gestión de la Seguridad y Salud en el Trabajo</h1>
	<p class="lead">
		Le damos la bienvenida. Para empezar a interacturar con la aplicación por favor inicie sesión. Si esta interesando en conocer más sobre la legislación puede dar click en el siguiente enlace.
	</p>
	<p>
		<a href="https://www.mintrabajo.gov.co/relaciones-laborales/riesgos-laborales/sistema-de-gestion-de-seguridad-y-salud-en-el-trabajo">Legislación Colombiana</a>
	</p>
</div>

{% endblock %}
