{% extends 'sg_sst_app/base.html' %} 
{% load static %}
{% block content %}
  <div class=" container">
    <h2 class="mt-5"> Bienvenid@ </h2>
    <p class="lead">
      A continuación puede realizar la gestión de sus documentos:
      <div class="container" style="align-items: flex-start;">
        <a href="{% url 'nuevo' %}" class="btn btn-dark btn-lg ">Crear usuario</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
          </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
          <tr role="button" id='clickable-row' onclick="editarUsuario(this)">
            {% if usuario.id is not 1 %}
              <th scope="row">{{ usuario.id }}</th>
              <td>{{usuario.username}}</td>
              <td>{{usuario.first_name}}</td>
              <td>{{usuario.last_name}}</td>
              <td>
                <a class="btn btn-danger btn-sm" aria-current="page" href="{% url 'delete' usuario.id %}">Borrar</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </p>
</div>
{% endblock%}

