{% extends 'sg_sst_app/base.html' %} 
{% load static %}
{% block content %}
  <div class=" container">
    <h2 class="mt-5"> Bienvenid@ </h2>
    <p class="lead">
      A continuación puede realizar la gestión de sus documentos:
      <div class="container m-1 p-1" style="align-items: flex-start;">
        <a href="{% url 'docempleado' %}" class="btn btn-dark btn-lg" style="width: 25em;" >Cargar Documentos Empleado</a>
      </div>
      <div class="container m-1 p-1" style="align-items: flex-start;">
        <a href="{% url 'docempresa' %}" class="btn btn-dark btn-lg" style="width: 25em;" >Cargar Documentos Empresa</a>
      </div>
      <div class="container m-1 p-1" style="align-items: flex-start;">
        <a href="{% url 'nuevo' %}" class="btn btn-dark btn-lg"  style="width: 25em;" >Compromisos y Responsabilidades del Gerente</a>
      </div>
      <div class="container m-1 p-1" style="align-items: flex-start;">
        <a href="{% url 'nuevo' %}" class="btn btn-dark btn-lg" style="width: 25em;">Aliados Estrat&eacute;gicos</a>
      </div>
      <div class="container m-1 p-1" style="align-items: flex-start;">
        <a href="{% url 'nuevo' %}" class="btn btn-dark btn-lg" style="width: 25em;">Pol&iacute;ticas SG-SST</a>
      </div>
      <div class="container m-1 p-1" style="align-items: flex-start;">
        <a href="{% url 'nuevo' %}" class="btn btn-dark btn-lg" style="width: 25em;">Riesgos Psicosociales</a>
      </div>
      <div class="container m-1 p-1" style="align-items: flex-start;">
        <a href="{% url 'nuevo' %}" class="btn btn-dark btn-lg" style="width: 25em;">Plan de Emergencia</a>
      </div>
</div>
{% endblock%}

