{% extends 'sg_sst_app/base.html' %} 
{% load static %}
{% block content %}
<div class=" container">
	<h2 class="mt-5"> Usuario Nuevo </h2>
    <p class="lead">
		{% if messages %}
		<div class="alert alert-warning" role="alert">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</div>
		{% endif %}
		<div class="loginForm">
			<form action="" method="post">
				{% csrf_token %} 
				<div class="form-group">
					{{ form.username }}
				</div>
				<div class="form-group">
					{{ form.password }}
				</div>
				<div class="form-group">
					<input class="btn btn-group-lg btn-dark" type="submit" value="Ingresar" style="width: 10em; margin: 5px auto; font-size: large; font-weight: bold;" />
				</div>
			</form>
		</div>
	</p>
</div>
{% endblock%}